<div class="thumbnail"><a class="category" id="$idstr" href="http://archive.org/stream/$iaclid"><img class="bookcover" src="$coverstr"></a><br />
			<span class="booktitle">$title</span>
		</span></div>
