</script>
					
			</div>
		</div>
	</div>


</div>


<div id="footer" style="clear: both; padding-top: 60px;">

	<p>
               <a href="adventure/">Bookreader mockup</a><br /><br />

               Powered by <a href="http://ruraldesigncollective.org/">The Rural Design Collective</a>
	</p>
</div>


<div id="sideBar">
	
	<a href="#" id="sideBarTab"><img src="rdc/images/slide-button.gif" alt="sideBar" title="sideBar" /></a>
	
	<div id="sideBarContents" style="display:none;">
		<br />

		<div id="sideBarContentsInner">			
			<ul>
				<li><a href="http://www.ruraldesigncollective.org/lab/ui/">Levi's sub-collection icons will go here - but for now, the only option to navigate to is back to the main collection page</a></li>
			</ul>
			
		</div>
	</div>
	
</div>


</div>

</body></html>
