<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Becky Malamud, Rebecca Hargrave Malamud" />
<meta name="keywords" content="Becky Malamud, Rebecca Hargrave Malamud, Rural Design Collective, OLPC, XO, Oregon, mentoring, rural, RDC" />

<title>Rural Design Collective - 2009 Summer Mentoring Program   &raquo; The Rural Design Collective UI Lab</title>

<meta name="generator" content="WordPress 2.7.1" /> <!-- leave this for stats -->

<link rel="stylesheet" href="http://sixes.net/rdc2009/wp-content/themes/durable.v2/cssstyles.php" type="text/css" media="screen" />
<link rel="stylesheet" href="http://sixes.net/rdc2009/wp-content/themes/durable.v2/colourmod/colourModStyle.php" type="text/css" media="screen" />

<link rel="alternate" type="application/rss+xml" title="Rural Design Collective - 2009 Summer Mentoring Program RSS Feed" href="http://sixes.net/rdc2009/feed/" />
<link rel="pingback" href="http://sixes.net/rdc2009/xmlrpc.php" />

<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://sixes.net/rdc2009/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://sixes.net/rdc2009/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 2.7.1" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js"></script>
<script type="text/javascript" src="http://sixes.net/rdc2009/wp-content/themes/durable.v2/jscript/effects/scriptaculous.js"></script>

<script type="text/javascript" src="http://ruraldesigncollective.org/js/prototip.js"></script>
<link rel="stylesheet" type="text/css" href="http://ruraldesigncollective.org/css/prototip.css" />

<script type="text/javascript" src="rdc/js/effects.js"></script>

<script type="text/javascript" src="rdc/js/side-bar.js"></script>
</head>

<style>


/****************************************/

.booktitle { line-height: 13px; font-size: 11px; } 

a{
	outline: none;
}

a:active{
	outline: none;
}

#sideBar{
text-align:left;
}

#sideBar h2{
	color:#FFFFFF;
	font-size:110%;
	font-family:arial;
	margin:10px 10px 10px 10px;
	font-weight:bold !important;
}

#sideBar h2 span{
	font-size:125%;
	font-weight:normal !important;
}

#sideBar ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

#sideBar li{
	margin:0px 10px 3px 10px;
	padding:2px;
	list-style-type:none;
	display:block;
	background-color:#FF5C3E;
	width:177px;
	color:#FFFFFF;
}

#sideBar li a{
	width:100%;
}

#sideBar li a:link,
#sideBar li a:visited{
	color:#FFFFFF;
	font-family:verdana;
	font-size:100%;
	text-decoration:none;
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:100%;
}

#sideBar li a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

#sideBar{
	position: absolute;
	width: auto;
	height: auto;
	top: 140px;
	right:0px;
	background-color: #FF5C3E;
}

#sideBarTab{
	float:left;
	height:137px;
	width:28px;
}

#sideBarTab img{
	border:0px solid #FFFFFF;
}

#sideBarContents{
	float:left;
	overflow:hidden !important;
	width:200px;
	height:300px;
}

#sideBarContentsInner{
	width:200px;
}
</style>

<body>

<div id="page">

<div id="topMenu">
	<ul id="menuItems">
		<li id="searchLink"><a href="http://sixes.net/rdc2009/about/" title="About The Rural Design Collective">About The Rural Design Collective</a></li>

		<li id="searchLink"><a href="http://memory.palace.org/bookmobile/" title="Where is the BookMobile?">Where is The BookMobile?</a></li>
	</ul>
</div>

<hr>	
<div id="mainContent">
	<div class="topTear"></div>
	<div id="content" class="widecolumn" style="min-height: 420px;">

    		<div class="post" id="post-450" style="margin-right: 0px;">
		<h2>$header</h2>

			<div class="entrytext">

<div class="collection-container" style="margin-top: 35px;">
